:root {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --text-primary: #ececee;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --accent-color: #46dff3;
    --transition-speed: 250ms;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
    #accordionExample {
        margin-top: 2rem;
    }

    h5#accordionTitle {
        margin-top: 12rem;
    }
}


@media only screen and (min-width: 750px) {
    #accordionExample {
        margin-top: 2rem;
    }

    h5#accordionTitle {
        margin-top: 5rem;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.favorite-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
}
.favorite-link svg {
    min-width: 1rem;
    fill:gold;
}

    .favorite-link:hover  {
        transform: rotate(-180deg);
    }

    .link-text {
        display: none;
        margin-left: 1rem;
    }

#recipeCards {
    height: 20rem;
}
#recipeCardsImage {
    height: 10rem;
}
#recipeCardsBody .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.text {
   
}
#recipeCardsTitle {
    text-decoration-color:#fff;
}
#recipeCardsDescription {
    height:3rem;
}

.star {
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
    color:darkgoldenrod;
}

    .star:before {
        content: "\2606";
        position: absolute;
        margin: 0 0 0 1rem;
        visibility: visible;
    }

    .star:checked:before {
        content: "\2605";
        position: absolute;
    }