@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "No Favorites";
}
<br />
<div class="card">
  <div class="card-body">
    <h4 class="card-title">No Favorites Found</h4>
    <h6 class="card-subtitle mb-2 text-muted">Return to all Recipes to Favorite a recipe</h6>
    <p class="card-text">Select the gold star on a recipe to favorite it.</p>
    <a href="/Home/Index" class="card-link">All Recipes</a>
  </div>
</div>