@using BenHinkleRecipes.Models.ViewModels
@model RecipeVM

@{
    ViewData["Title"] = "Create Recipe";
}
<br />

@if (ViewBag.CreatedWithNullPicture == true)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Error! Can't create without Photos</strong> <a href="#" class="alert-link">Please upload a front and back photo to represent the recipe</a> and try submitting again.
    </div>
}
<br />
<form asp-controller="Home" asp-action="CreateRecipe" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-m-2">
            <label asp-for="RecipeName"></label>
            <input asp-for="RecipeName" class="form-control" placeholder="Recipe Name">
            <span asp-validation-for="RecipeName" class="text-danger"></span>
        </div>
        <div class="col-m-2">
            <label asp-for="Meat"></label>
            <input asp-for="Meat" class="form-control" placeholder="Meats Used">
        </div>
        <div class="col-m-2">
            <label asp-for="Veggies"></label>
            <input asp-for="Veggies" class="form-control" placeholder="Veggies Used">
        </div>
        <div class="col-m-2">
            <label asp-for="Miscellaneous"></label>
            <input asp-for="Miscellaneous" class="form-control" placeholder="Miscellaneous Used">
        </div>
        <br />
        <div class="col-m-2">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" placeholder="Recipe Description">
        </div>
        <div class="col-m-2">
            <label asp-for="RecipePhotoFrontFile" class="form-label">Upload Picture of Recipe Front</label>
            <input asp-for="RecipePhotoFrontFile" class="form-control" id="recipePhotoFrontUpload">
        </div>
        <div class="col-m-2">
            <label asp-for="RecipePhotoBackFile" class="form-label">Upload Picture of Recipe Back</label>
            <input asp-for="RecipePhotoBackFile" class="form-control" id="recipePhotobackUpload">
        </div>
        <input asp-for="RecipeId">
        @if (ViewContext.HttpContext.User.Identity.Name != null)
        {
            <div class="col-m-2">
                <input asp-for="IsFavorite" type="checkbox" class=star>
            </div>
        }
    </div>
    <br />
    <button class="btn btn-success">Create</button>
</form>
<br />
<input type="button" class="btn btn-secondary" value="Cancel" onclick="location.href='@Url.Action("Index","Home")';" />




