@using BenHinkleRecipes.Models.ViewModels
@model IngredientVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />
<form asp-controller="Home" asp-action="AddRecipeIngredient" method="post">
    <div class="row">
        <div class="col-m-2">
            <label asp-for="Category"></label>
            <select asp-for="Category" class="form-control">
                <option>Meat</option>
                <option>Produce</option>
                <option>Dairy</option>
                <option>Herbs</option>
                <option>Spices</option>
                <option>Other</option>
            </select>
        </div>
        <br />
        <div class="col-m-2">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="col-m-2">
            <label asp-for="Unit" class="form-label"></label>
             <select asp-for="Unit" class="form-control">
                <option>Ounces</option>
                <option>lb</option>
                <option>Item</option>
                <option>Tablespoons</option>
                <option>Teaspoons</option>
                <option>Cups</option>
            </select>
        </div>
        <div class="col-m-2">
            <label asp-for="Quantity" class="form-label"></label>
            <input asp-for="Quantity" class="form-control">
        </div>
        <input asp-for="recipe_id" hidden>
    </div>
    <br />
    <button class="btn btn-success" type="submit">Add Ingredient</button>
</form>
<br />
<input type="button" class="btn btn-secondary" value="Cancel" onclick="location.href='@Url.Action("Index","Home")';" />
